/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/ui/resume/Page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.Page_page__W3TFQ {
  margin: auto;
  background: white;
  position: relative;

  border: 1px solid red;

  width: 210mm;
  min-height: 297mm;

  padding: 32px;
  color: black;
  /* filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)); */
}

@page {
  size: A4;
  margin: 0;
}

