.page {
  margin: auto;
  background-color: red;
  position: relative;

  background-size: 8.5in 11in !important;

  break-before: page;

  width: 8.5in !important;
  height: 11in !important;

  padding: 32px;

  border: red 1px solid;
  /* filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1)); */
}

@media print {
  @page {
    size: letter portrait;
    margin: 0;
  }
}
